absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyascii
anyio
attrs
audioread
babel
bangla
beautifulsoup4
blinker
bnnumerizer
bnunicodenormalizer
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
contourpy
coqpit
cycler
dateparser
decorator
docopt
fastapi[all]
ffmpeg
ffmpy
filelock
Flask
fonttools
frozenlist
fsspec
g2pkk
gdown
gitdb
GitPython
gradio
gradio_client
grpcio
gruut
gruut-ipa
gruut_lang_en
h11
hangul-romanize
httpcore
httpx
huggingface-hub
idna
indic_numtowords
inflect
itsdangerous
jamo
jieba
Jinja2
jmespath
joblib
jsonlines
jsonschema
jsonschema-specifications
kiwisolver
lazy_loader
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
msgpack
multidict
mutagen
narwhals
networkx
nltk
num2words
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
orjson
packaging
pandas
pillow
pip
platformdirs
pooch
propcache
protobuf
psutil
pyarrow
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
pyparsing
pypinyin
pysbd
PySocks
python-crfsuite
python-dateutil
python-multipart
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
ruff
s3transfer
scikit-learn
scipy
semantic-version
setuptools
shellingham
six
smmap
sniffio
soundfile
soupsieve
soxr
starlette
sympy
tenacity
tensorboard
tensorboard-data-server
threadpoolctl
toml
tomlkit
torch
torchaudio
tornado
tqdm
trainer
triton
typer
typing_extensions
tzdata
tzlocal
urllib3
uuid
uvicorn
watchdog
websockets
Werkzeug
wheel
yarl
